extends templates/default

include components/common/header
include components/blog-list/main

block main
  -
    const header = {
      title: 'blog',
      paths: ['Home', 'Blog'],
      classes: 'blog-list__main'
    };
  +header(header)
  +main
