extends templates/default

include components/blog-detail/main
include components/common/header

block main
  -
    const header = {
        title: 'Blog',
        classes: 'blogs__header',
        paths: ["Home", "Blog"]
    };

  +header(header)
  +main
