extends templates/default

include components/contact
include components/commercial
include components/featuredProducts
include components/introduction

block main
  +introduction
  +commercial
  +featuredProducts
  +contact
