@mixin section-page {
  grid-column: center-start / col-end;
}

@mixin center-section {
  grid-column: center-start / center-end;
}

@mixin full-section {
  grid-column: full-start / full-end;
}

@mixin triangle-up(
  $border-bottom: 10rem,
  $border-left: 5rem,
  $border-right: $border-left,
  $color: red
) {
  width: 0;
  height: 0;
  border-left: $border-left solid transparent;
  border-right: $border-right solid transparent;
  border-bottom: $border-bottom solid $color;
}

@mixin shape($width: 2rem, $height: $width, $border-radius: 50%) {
  border-radius: $border-radius;
  width: $width;
  height: $height;
}

@mixin styleList(
  $type: none,
  $font-size: 1.2rem,
  $color: #000,
  $display: inline-block,
  $font-style: normal
) {
  font-size: $font-size;
  color: $color;
  list-style-type: $type;
  display: $display;
  font-style: $font-style;
}

@mixin flexbox(
  $direction: row,
  $wrap: wrap,
  $basis: auto,
  $align-items: flex-start,
  $justify-content: space-between
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  flex-basis: $basis;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin underline(
  $padding: initial,
  $margin: initial,
  $content: "//////////////",
  $color: black,
  $background-color: #fff,
  $font-size: 1rem,
  $width: auto,
  $top: 50%,
  $left: 50%,
  $transform: translate(-50%, -50%),
  $font-style: initial,
  $letter-spacing: initial,
  $height: $width
) {
  content: $content;
  position: absolute;
  top: $top;
  left: $left;
  transform: $transform;
  background-color: $background-color;
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  font-style: $font-style;
  color: $color;
}

@mixin link(
  $text-decoration: none,
  $color: #000,
  $font-size: 1.2rem,
  $color-hover: #000
) {
  text-decoration: $text-decoration;
  color: $color;
  font-size: $font-size;
  cursor: pointer;

  &:hover {
    color: $color-hover;
  }
}

@mixin input(
  $width: 100%,
  $height: auto,
  $color: #000,
  $border-radius: initial,
  $font-size: 1rem
) {
  width: $width;
  height: $height;
  color: $color;
  font-size: $font-size;
  outline: none;
  border-radius: $border-radius;
}

@mixin button(
  $background-color: #000,
  $border: none,
  $width: auto,
  $height: auto,
  $padding: auto,
  $color: #fff,
  $border-radius: none,
  $font-size: 1rem
) {
  background-color: $background-color;
  width: $width;
  height: $height;
  color: $color;
  font-size: $font-size;
  outline: none;
  border: $border;
  padding: $padding;
  border-radius: $border-radius;
}
