// padding
$padding-small: 2rem;
$padding-medium: 4rem;
$padding-large: 8rem;

// margin
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-large: 8rem;

// border
$color-white: #fff;
$color-black: #000;
$color-black-2: #4b4b4b;
$color-green: #789629;
$color-green-light: #cbd4b3;
$color-green-yellow: #abff2e;
$color-red: #ff0000;
$color-red-2: #6c3c33;
$color-gray-1: #e6e6e6;
$color-gray-2: #c4c4c4;
$color-gray-3: #bababa;
$color-gray-4: #ababab;
$color-gray-5: #737373;
