@mixin grid-8-cols($grid-template-rows: 100vh repeat(4, min-content)) {
  display: grid;
  grid-template-rows: $grid-template-rows;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

@mixin grid-3-cols($size: 3) {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(
      $size,
      [col-start] minmax(min-content, 18rem) [col-end]
    )
    [center-end] minmax(3rem, 1fr) [full-end];
}
