mixin guidePath(items)
  .guide-path(style="--bs-breadcrumb-divider: '>'", aria-label="breadcrumb")
    ol.breadcrumb
      each item in items
        li.breadcrumb-item
          a.breadcrumb-link(href="#")= item
