mixin main
  - const title = 'Giới thiệu chung về mỹ phẩm handmade mandala';
  - const para = 'Hi, chào các nàng... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.'

  .section__main.about-us__main
    .about-us__image-box
      img.about-us__image(src="/assets/images/about-us/1.png", alt="18+")
    .about-us__content
      img(src="/assets/images/common/logo.png", alt="logo")
      h2.about-us__title= title
      p.about-us__para= para
      a.about-us__link(href='#') Xem thêm