@use "../abstracts" as *;

.about-us {
  &__image {
    width: 100%;
    display: block;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__title {
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  &__para {
   margin-top: 1rem;
  }

  &__link {
    @include link($color: $color-gray-5);
  }

  &__main {
    @include flexbox;
    margin-top: 2rem;

    & > * {
      width: 48%;
    }
  }
}
