@use "../abstracts" as *;

.blogs {
  &__header {
    @include center-section;
    grid-row: 2 / 3;
  }

  &__main {
    @include center-section;
    grid-row: 3 / 4;
    margin-top: 1rem;
  }

  &__title {
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5rem;
  }

  &__list {
    @include flexbox;
    row-gap: 3rem;
    padding: 2rem 0;
  }
}
