@use "../abstracts" as *;
@use "../base" as *;

.section-page {
  @include full-section;
}

.introduction {
  display: grid;
  grid-template-rows: 80vh 15vh;

  &-right {
    width: 50%;
  }

  &__img-right {
    display: block;
    width: 100%;
  }

  // display: grid;
  // grid-template-rows: 1fr min-content;
  // padding: 2rem

  &__content {
    grid-row: 1 / 2;
    position: relative;
  }

  &__content-box {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
  }

  &__title {
    font-size: $heading-primary;
    color: $color-green;
  }

  &__price {
    font-size: $fontsize-large;
    display: block;
    color: $color-green;
  }

  &__para {
    color: $color-red-2;
  }

  &__link {
    color: $color-black;
  }

  &__features {
    background-color: $color-white;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    // justify-items: center;

    // @media screen and (max-width: 100rem) {
    //   grid-template-columns: repeat(3, max-content);
    // }

    &-card {
      text-align: center;
    }
  }
}

.commercial {
  &-images {
    @include flexbox($wrap: wrap);
  }

  &-image {
    display: block;
    width: 50%;
  }

  &-quotes {
    @include flexbox($align-items: center);
    padding: 3rem 0;
  }
}

.quotes {
  &__left {
    @include flexbox;
    
    &-box {
      margin-left: 5rem;
    }
  }
  
  &__right {
    width: 90%;
  }

  &__image {
    display: block;
    transform: translateX(-10rem);
  }

  &__avatar {
    height: 10rem;
    display: block;
    border: 2px solid #cbd4b3;
    border-radius: 50%;
    padding: 0.8rem;
  }

  &__para {
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }

  &__role {
    font-style: italic;
    font-weight: 400;
  }

  &__dots {
    @include flexbox;
    gap: 1rem;
  }

  &__dot {
    background-color: $color-black;
    height: 0.5rem;
    width: 0.5rem;
    margin-top: 2rem;

    &-2 {
      background-color: rgb(115, 115, 115);
    }
  }
}

.featured-products {
  background-color: brown;
}

.contact {
  background-color: greenyellow;
}
