@use "../abstracts" as *;
@use "../base/typography" as *;

.section-page {
  @include full-section;
}

.introduction {
  display: grid;
  grid-template-rows: 80vh 15vh;

  &-right {
    width: 50%;
  }

  &__img-right {
    display: block;
    width: 100%;
  }

  // display: grid;
  // grid-template-rows: 1fr min-content;
  // padding: 2rem

  &__content {
    grid-row: 1 / 2;
    position: relative;
  }

  &__content-box {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
  }

  &__title {
    font-size: $heading-primary;
    color: $color-green;
  }

  &__price {
    font-size: $fontsize-large;
    display: block;
    color: $color-green;
  }

  &__para {
    color: $color-red-2;
  }

  &__link {
    color: $color-black;
  }

  &__features {
    background-color: $color-white;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    // justify-items: center;

    // @media screen and (max-width: 100rem) {
    //   grid-template-columns: repeat(3, max-content);
    // }

    &-card {
      text-align: center;
    }
  }
}

.commercial {
  background-color: cadetblue;
}

.featured-products {
  background-color: brown;
}

.contact {
  background-color: greenyellow;
}
