.login__form {
  .form__legend {
    margin: 0;
  }

  .form__para {
    margin-bottom: 4rem;
  }

  .form__cta {
    text-align: initial;
    justify-content: initial;
    gap: 0 2rem;
  }

  .form__control {
    width: 50%;
  }
}
