include common/tags
include common/blog
include common/form

mixin socialMediaItems
  -
    const items = [
      {
        name: 'facebook',
        icon: 'fa-brands fa-facebook-f'
      },
      {
        name: 'twitter',
        icon: 'fa-brands fa-twitter'
      },
      {
        name: 'instagram',
        icon: 'fa-brands fa-instagram'
      },
      {
        name: 'google+',
        icon: 'fa-brands fa-google-plus-g'
      },
      {
        name: 'pinterest',
        icon: 'fa-brands fa-pinterest'
      },
      {
        name: 'linkedin',
        icon: 'fa-brands fa-linkedin-in'
      }
    ];

  .contact__social-media
    ul.contact__social-media-items 
      each item in items
        li.contact__social-media-item
          i(class=`${item.icon} contact__icon`)
          span.contact__icon-name= item.name

mixin tagItems
  -
    const items = [
      "Đồng hồ", "Túi", "Phụ kiện", "Đồng hồ", "Túi", 
      "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Giày", "Sandal",
      "Trẻ em", "Thời trang nữ", "Trẻ em", "Thời trang nữ"
    ];

  .contact__tags-box
    +tags(items)

mixin descriptionAboutUs
  - const para = "Hi, chào các nàng... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.";
  - const title = "Giới thiệu chung về Mỹ phẩm Handmade mandala";

  .contact__card.contact__about-us
    h2.contact__title Về chúng tôi
    .contact__description
      .contact__logo
        img(src="/assets/images/common/logo.png", alt="logo")
      h5.contact__description-title= title
      p.contact__para= para
      a.contact__link Xem thêm

mixin descriptionBlog
  -
    const item = {
      image: '/assets/images/blog/2.png',
      title: 'Review son kem Bourjois Velvet',
      para: 'Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog nàyvào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tâm Free để giải nhiệt.',
      author: 'NamTran',
      time: '27 / 05 / 2015',
      commentTotal: '23 bình luận'
    };

  .contact__card.contact__blog
    h2.contact__title Blog
    +blog(item)

mixin descriptionSendEmail
  -
    const form = {
      ctaTitle: 'Gửi email để nhận những ưu đãi mới nhất',
      input:{
        type: 'text',
        name: 'input-contact',
        placeholder: 'Email của bạn'
      },
      button:{
        text: 'Gửi',
        classes: 'btn-black form-contact__cta-send',
      }
    };

  .contact__card.contact__send-email
    .contact__card-top
      h2.contact__title Gửi email cho chúng tôi
      .contact__description
        +formContact(form)
    .contact__card-bottom
      h2.contact__title Tag sản phẩm
      .contact__description
        +tagItems

mixin contact
  section.contact
    +socialMediaItems
    .contact__content
      +descriptionAboutUs
      +descriptionBlog
      +descriptionSendEmail
