include common/products

mixin productList
  -
    const items = [
      {
        image : '/assets/images/featured-production/12.png',
        name: 'TYFFANY',
        title: 'Mỹ phẩm châu Âu',
        price:  '355.000đ',
      },
      {
        image : '/assets/images/featured-production/13.png',
        name: 'OHUI',
        title: 'Mỹ phẩm châu Âu',
        price: '355.000đ',
      },
      {
        image : '/assets/images/featured-production/14.png',
        name: 'HOME',
        title: 'Mỹ phẩm châu Âu',
        price: '355.000đ',
        priceOld:  '450.000đ'
      },
      {
        image : '/assets/images/featured-production/15.png',
        name: 'SARVON',
        title: 'Mỹ phẩm châu Âu',
        price: ' 355.000 đ',
      },
      {
        image : '/assets/images/featured-production/16.png',
        name: 'TYFFAN',
        title: 'Mỹ phẩm châu Âu',
        price: '355.000đ',
      },
      {
        image : '/assets/images/featured-production/17.png',
        name: 'OHUI',
        title: 'Mỹ phẩm châu Âu',
        price: '355.000đ',
      }
    ];
  +products(items, 'featured-products__products')

mixin typeItems
  - const types = ["Mỹ phẩm", "Chăm sóc da", "Dành cho tóc", "Nước hoa", "Trang sức", "Quà tặng"];

  ul
    each type in types
      li.featured-products__type= type

mixin categoryItems
  - const categories = ["Sản phẩm mới", "Sản phẩm bán chạy", "Sản phẩm đặc biệt"];

  ul
    each category, index in categories
      - let i = index + 1;
      li(class=`featured-products__category featured-products__category-${i}`)= category

mixin featuredProducts
  section.featured-products
    .featured-products__title
      .featured-products__categories
        +categoryItems
      .featured-products__types
        +typeItems
    +productList
    .button-left
    .button-right
