-
  const features = [
    {icon: "fa-solid fa-plane-up", label: "Miễn phí vận chuyển"},
    {icon: "fa-solid fa-gift", label: "Nhận ngay quà tặng trị giá 350.000đ"},
    {icon: "fa-solid fa-star", label: "Giảm 30% cho con hàng trên 5.000.000đ"}
  ];

mixin featureItems
  each item in features
    .introduction__features-card
      i(class=`${item.icon}`)
      p.features-card__para= item.label

mixin introduction
  section.section-page.introduction
    .introduction__content
      .introduction-left
        img.introduction__img-left(src="/assets/images/introduction/2.png")
        .introduction__content-box
          h1.introduction__title GreenVera
          p.introduction__para Sản phẩm tinh dầu dưỡng da mới nhât của Mandala
          span.introduction__price Giá chỉ 750.000đ
          a.introduction__link(href="#") Mua hàng
      .introduction-right
        img.introduction__img-right(src="/assets/images/introduction/1.png")
    .introduction__features
      +featureItems
