mixin introduction
  -
    const features = {
      "fa-solid fa-plane-up": "Miễn phí vận chuyển",
      "fa-solid fa-gift": "Nhận ngay quà tặng trị giá 350.000đ",
      "fa-solid fa-star": "Giảm 30% cho con hàng trên 5.000.000đ"
    };

  section.introduction
    .introduction__content
      .introduction-left
        img.introduction__img-left(src="/assets/images/introduction/2.png")
        .introduction__content-box
          img(
            src="/assets/images/introduction/green-vera.png",
            alt="green-vera"
          )
          p.introduction__para Sản phẩm tinh dầu dưỡng da mới nhât của Mandala
          span.introduction__price Giá chỉ 750.000đ
          a.introduction__link(href="#") Mua hàng
      .introduction-right
        img.introduction__img-right(src="/assets/images/introduction/1.png")
    .introduction__features
      each value, key in features
        .introduction__features-card
          i(class=`${key}`)
          p.features-card__para= value
