@use "../abstracts" as *;

.btn {
  text-transform: uppercase;

  &-black {
    @include button(
      $padding: 0.5rem 2rem,
      $color: $color-white,
      $background-color: $color-black
    );
  }

  &-black:hover {
    color: $color-white;
    background-color: $color-black-2;
  }
}
