@use "../abstracts" as *;

.guide-path {
  @include center-section;
  border-bottom: 1px solid $color-gray-1;
  padding: 1rem 0;
}

.breadcrumb {
  margin: 0;

  &-link {
    @include link;
  }
  &-item:last-child > &-link {
    color: $color-green;
  }
}
