@use "../abstracts" as *;
@use "../layout/grid" as *;

.navbar {
  @include grid-8-cols($grid-template-rows: none);
  z-index: 2;
  position: fixed;
  width: 100vw;

  &-usernav {
    @include center-section;
    @include flexbox($align-items: center, $justify-content: flex-start);
  }

  &-nav{
    gap: 3rem;
  }

  &-brand {
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;

    & > span {
      @include shape($width: auto);
      font-size: 2.5rem;
      padding: 1.5rem;
      margin-right: 0.5rem;
      color: $color-white;
      background-color: $color-green;
    }
  }

  &-collapse {
    align-items: center;
  }

  @media screen and (max-width: 990px) {
    &-collapse.show {
      margin-top: 2rem;
    }
  }
}
