@use "../abstracts" as *;

.product {
  &__cta {
    margin-top: 3rem;

    & > * {
      display: inline-block;
      margin-left: 1rem;
      background-color: $color-white;
      border: 1px solid $color-gray-3;
      color: $color-black;
      padding: 0.8rem;
      border-radius: 1rem;
    }

    & > *:hover {
      background-color: $color-green;
      color: $color-white;
    }
  }

  &__price {
    color: $color-green;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__buy {
    margin: 0;
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
}
