@use "../abstracts" as *;

.sort-pags {
  @include flexbox($align-items: center);
  border-bottom: 1px solid $color-gray-1;
  height: 3.5rem;

  &__tab-link {
    color: $color-black !important;
    padding: 0;
  }

  &__sort .nav-item:not(:first-child) {
    margin-left: 1rem;
  }

  &__tab-link.active {
    background-color: initial !important;
  }

  &__page-link {
    border: none;
    color: $color-black;
  }

  &__pags {
    @include flexbox(
      $wrap: nowrap,
      $align-items: center,
      $justify-content: initial
    );
    column-gap: 1rem;
  }
}
